<app-nav-bar></app-nav-bar>

<h2>Our Cars</h2>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input 
          class="form-control" 
          #drp="bsDaterangepicker" 
          bsDaterangepicker [(ngModel)]="bsRangeValue"
          (bsValueChange)="onTimerangeChange($event)">
      </div>
      <div class="col-xs-12 col-12 col-md-3 form-group">
        <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Choose date</button>
      </div>
    </div>
</div>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
  [substituteRows]="false"
>
  <data-table-column
    [property]="'id'"
    [header]="'Car Id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'mark'"
    [header]="'Mark'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'model'"
    [header]="'Model'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'colour'"
    [header]="'Colour'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'id'"
  >
    <ng-template #dataTableCell let-item="item">
      <button type="button" class="btn btn-primary" (click)="openModal(template)">Rent this car!</button>
      <ng-template #template>
        <div class="modal-body text-center">
          <div class="col-12">
            <p><strong>Are you sure you want to rent this car?</strong></p>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-primary" (click)="modalSubmitted(item.id)">Yes sir!</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No way!</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </data-table-column>
</data-table>