<app-nav-bar></app-nav-bar>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Add new customer</button>
  <ng-template #template>
    <div class="modal-body text-center">
      <h2>Add new customer</h2>
      <form #form="ngForm" (submit)="addCustomer($event)">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input 
            required 
            ngModel 
            name="firstName" 
            #firstName="ngModel" 
            id="firstName" 
            type="text" 
            class="form-control">
          <div 
            class="alert alert-danger" 
            *ngIf="firstName.touched && !firstName.valid">
            First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input 
            required
            ngModel 
            name="lastName" 
            #lastName="ngModel" 
            id="lastName" 
            type="text" 
            class="form-control">
          <div 
            class="alert alert-danger" 
            *ngIf="lastName.touched && !lastName.valid">
            Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            required
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
            ngModel 
            name="email" 
            #email="ngModel" 
            id="email" 
            type="email" 
            class="form-control">
          <div 
            class="alert alert-danger" 
            *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              Email doesn't math the pattern.
            </div>
          </div>
        </div>
        <input 
          type="submit" 
          class="btn btn-primary" 
          value="Add" 
          [disabled]="!form.valid">
      </form>
    </div>
  </ng-template>

<h2>Our Customers</h2>

<input 
  #query
  (keyup)="filter(query.value)"
  type="text" class="form-control" placeholder="Search...">

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
  [substituteRows]="false"
>
  <data-table-column
    [property]="'id'"
    [header]="'Customer Id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'firstname'"
    [header]="'First Name'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'lastname'"
    [header]="'Last Name'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'email'"
    [header]="'Email'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'id'"
  >
    <ng-template #dataTableCell let-item="item">
        <button [routerLink]="['/customer/', item.id]">Edit</button>
        <button (click)="delete(item)">Delete</button>
    </ng-template>
  </data-table-column>
</data-table>