<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
        <header>Log In</header>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center" >
        <form (submit)="loginUser($event)">
          <div class="input">
            <label>Username</label>
            <input type="text">
          </div>
          <div class="input">
            <label>Password</label>
            <input type="password">
          </div>
          <div class="input d-flex justify-content-center">
            <input type="submit" value="Login">
          </div>
        </form>
    </div>
  </div>
</div>