:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-bottom: 2px solid #eee;
  }

  div.input {
    position: relative;
    margin-top: 20px;
  }
  
  div.input label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background: white;
    padding: 5px 2px;
  }
  div.input input {
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
  }