<app-nav-bar></app-nav-bar>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Add new rental</button>
  <ng-template #template>
    <div class="modal-body text-center">
      <h2>Add new rental</h2>
      <form #form="ngForm" (submit)="addRental($event)">
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input 
                required
                ngModel 
                name="startDate" 
                #startDate="ngModel" 
                id="startDate" 
                type="date" 
                class="form-control">
            <div 
                class="alert alert-danger" 
                *ngIf="startDate.touched && !startDate.valid">
                Start date is required.
            </div>
        </div>
        <div class="form-group">
            <label for="finshDate">Finish Date</label>
              <input 
                required
                ngModel 
                name="finishDate" 
                #finishDate="ngModel" 
                id="finishDate" 
                type="date" 
                class="form-control">
            <div 
              class="alert alert-danger" 
              *ngIf="finishDate.touched && (!finishDate.valid || startDate?.value > finishDate?.value)">
              <div *ngIf="startDate?.value > finishDate?.value">
                Finish Date is before Start Date.
              </div>
              <div *ngIf="finishDate.errors.required">
                Finish Date is required.
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="customerId">Customer id</label>
              <input 
                  required
                  ngModel 
                  name="customerId" 
                  #customerId="ngModel" 
                  id="customerId" 
                  type="number" 
                  class="form-control">
              <div 
                  class="alert alert-danger" 
                  *ngIf="customerId.touched && !customerId.valid">
                  Customer id is required.
              </div>
          </div>
          <div class="form-group">
              <label for="carId">Car id</label>
              <input 
                  required
                  ngModel 
                  name="carId" 
                  #carId="ngModel" 
                  id="carId" 
                  type="number" 
                  class="form-control">
              <div 
                  class="alert alert-danger" 
                  *ngIf="carId.touched && !carId.valid">
                  Car id is required.
              </div>
          </div>
        
          <div class="form-group">
              <label for="accepted">Accepted?</label>
              <select 
                required
                ngModel 
                name="accepted" 
                #accepted="ngModel" 
                id="accepted" 
                type="boolean" 
                class="form-control">
                <option value="false">false</option>
                <option value="true">true</option>
              </select>
              <div 
                class="alert alert-danger" 
                *ngIf="accepted.touched && !accepted.valid">
                Accepted status is required.
              </div>
          </div>
        <input 
          type="submit" 
          class="btn btn-primary" 
          value="Add" 
          [disabled]="!form.valid || (startDate?.value > finishDate?.value)">
      </form>
    </div>
  </ng-template>

<h2>Our Rentals</h2>

<input 
  #query
  (keyup)="filter(query.value)"
  type="text" class="form-control" placeholder="Search...">

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
  [substituteRows]="false"
>
  <data-table-column
    [property]="'id'"
    [header]="'Rental Id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'startDate'"
    [header]="'Start date'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    <span>{{item.startDate | date:'yyyy-MM-dd'}}</span>
  </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'finishDate'" 
    [header]="'Finish date'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    <span>{{item.finishDate | date:'yyyy-MM-dd'}}</span>
  </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'customerId'"
    [header]="'Customer id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'carId'"
    [header]="'Car id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'accepted'"
  [header]="'Accepted?'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

  <data-table-column
    [property]="'id'"
  >
    <ng-template #dataTableCell let-item="item">
        <button [routerLink]="['/rental/', item.id]">Edit</button>
        <button (click)="delete(item)">Delete</button>
    </ng-template>
  </data-table-column>
</data-table>
