<app-nav-bar></app-nav-bar>

<div *ngIf="customer">
  <h2>{{ customer.firstname | uppercase }} Details</h2>
  <div><span>id: </span>{{customer.id}}</div>
  <div>
    <ul>
      <li>
        <label>firstname:
          <input [(ngModel)]="customer.firstname" placeholder="firstname"/>
        </label>
      </li>
      <li>
        <label>lastname:
          <input [(ngModel)]="customer.lastname" placeholder="lastname"/>
        </label>
      </li>
      <li>
        <label>email:
          <input [(ngModel)]="customer.email" placeholder="email"/>
        </label>
      </li>
    </ul>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

<br><br>

<h2>Customer's Rentals</h2>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
  [substituteRows]="false"
>
  <data-table-column
    [property]="'id'"
    [header]="'Rental Id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'startDate'"
    [header]="'Start date'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    <span>{{item.startDate | date:'yyyy-MM-dd'}}</span>
  </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'finishDate'"
    [header]="'Finish date'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
    <span>{{item.finishDate | date:'yyyy-MM-dd'}}</span>
  </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'customerId'"
    [header]="'Customer id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'carId'"
    [header]="'Car id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'accepted'"
  [header]="'Accepted?'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>
</data-table>
