<app-nav-bar></app-nav-bar>

<div *ngIf="car">
    <h2> {{ car.name | uppercase }}  Details</h2>
    <div><span>id: {{car.id}} </span></div>
    
    <div>
      <ul>
        <li>
          <label>mark:
            <input [(ngModel)]="car.mark" placeholder="mark"/>
          </label>
        </li>
        <li>
          <label>model:
            <input [(ngModel)]="car.model" placeholder="model"/>
          </label>
        </li>
        <li>
            <label>description:
              <input [(ngModel)]="car.description" placeholder="description"/>
            </label>
          </li>
        <li>
          <label>colour:
            <input [(ngModel)]="car.colour" placeholder="colour"/>
          </label>
        </li>
        <li>
          <label>productionDate:
            <input type= "date" [(ngModel)]="car.productionDate" placeholder="productionDate"/>
          </label>
        </li>
        <li>
          <label>retirementDate:
            <input type= "date" [(ngModel)]="car.retirementDate" placeholder="retirementDate"/>
          </label>
        </li>
        <li>
          <label>mileage:
            <input [(ngModel)]="car.mileage" placeholder="mileage"/>
          </label>
        </li>
        <li>
          <label>servicePeriodStartDate:
            <input type= "date" [(ngModel)]="car.servicePeriodStartDate" placeholder="servicePeriodStartDate"/>
          </label>
        </li>
        <li>
            <label>servicePeriodFinishDate:
              <input type= "date" [(ngModel)]="car.servicePeriodFinishDate" placeholder="servicePeriodFinishDate"/>
            </label>
        </li>
        <!-- <li>
            <label>Reservation from:
              <input type= "date" [(ngModel)]="rental.startDate" placeholder="start of reservation"/>
            </label>
          </li>
          <li>
              <label>Reservation to:
                <input type= "date" [(ngModel)]="rental.finishDate" placeholder="end of reservation"/>
              </label>
          </li> -->
      </ul>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
