<div class="container nav-bar">

  <div class="row">

    <div class="col-2 logo">
      <h2>SzrotAuto®</h2>
    </div>

    <div class="col">
      <nav>
        <div class="row">
          <a routerLink="/dashboard">Dashboard</a>
          <div *ngIf="this.isAdmin()">
            <a routerLink="/customers">Customer Management</a>
            <a routerLink="/cars">Car Administration</a>
            <a routerLink="/rentals">Rental Administration</a>
          </div>
          <div *ngIf="!this.isAdmin()">
              <a routerLink="/car-reservation">Car Reservation</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-3 user-info">
      <div class="row">
        <div class="col">
          User:
        </div>
        <div class="col">
          Role:
        </div>
        <div class="w-100"></div>
        <div class="col">
          {{currentUser.firstname}} {{currentUser.lastname}}
        </div>
        <div class="col">
          {{currentUser.role}}
        </div>
      </div>
    </div>

    <button class="logout" routerLink="/login-form">
      Log out    
    </button>
  </div>
  
</div>