div.nav-bar {
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

div.logo {
  min-inline-size: 150px;
}

nav a {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-weight: bold;
}
  
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

div.user-info {
  font-weight: bold;
  text-transform: capitalize;
  min-inline-size: 200px;
}