<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-12 toplist">

      <h3>Top Customers</h3>
      <div class="grid grid-pad">
        <a *ngFor="let customer of customers" 
          class="col-1-4"
          routerLink="/customer/{{customer.id}}"
          [class.disabled]="!isAdmin() ? true : null">
        <div class="module customer">
          <h4>{{customer.firstname}} {{customer.lastname}}</h4>
        </div>
        </a>
      </div>
    </div>

    <div class="col-12 toplist">
      <h3>Top Cars</h3>
      <div class="grid grid-pad">
        <a *ngFor="let car of cars" 
          class="col-1-5"
          routerLink="/car/{{car.id}}"
          [class.disabled]="!isAdmin() ? true : null">
        <div class="module car">
          <h4>{{car.mark}} {{car.model}}</h4>
        </div>
        </a>
      </div>
    </div>
    
  </div>
</div>