<app-nav-bar></app-nav-bar>

<div *ngIf="rental">
  <h2>{{ rental.startDate | uppercase | date:'yyyy-MM-dd' }} Details</h2>
  <div><span>id: </span>{{rental.id}}</div>
  <div>
    <ul>
      <li>
        <label>startDate:
          <input type= "date" 
            [ngModel]="rental.startDate | date: 'yyyy-MM-dd'" 
            placeholder="startDate"
            (ngModelChange)="rental.startDate=$event"/>
        </label>
      </li>
      <li>
        <label>finishDate:
          <input type= "date" 
          [ngModel]="rental.finishDate | date: 'yyyy-MM-dd'" 
          placeholder="finishDate"
          (ngModelChange)="rental.finishDate=$event"/>
        </label>
      </li>
      <li>
        <label>customer:
          <input [(ngModel)]="rental.customerId" placeholder="customerId"/>
        </label>
      </li>
      <li>
        <label>car:
          <input [(ngModel)]="rental.carId" placeholder="carId"/>
        </label>
      </li>
      <li>
        <label>Accepted?:
          <input type= "boolean" [(ngModel)]="rental.accepted" placeholder="true/false"/>
        </label>
      </li>
    </ul>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
