
<app-nav-bar></app-nav-bar>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Add new car</button>
  <ng-template #template>
    <div class="modal-body text-center">
      <h2>Add new car</h2>
      <form #form="ngForm" (submit)="addCar($event)">
        <div class="form-group">
          <label for="mark">Mark</label>
          <input 
            required 
            ngModel 
            name="mark" 
            #mark="ngModel" 
            id="mark" 
            type="text" 
            class="form-control">
          <div 
            class="alert alert-danger" 
            *ngIf="mark.touched && !mark.valid">
            Mark is required.
          </div>
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input 
              required 
              ngModel 
              name="model" 
              #model="ngModel" 
              id="model" 
              type="text" 
              class="form-control">
            <div 
              class="alert alert-danger" 
              *ngIf="model.touched && !model.valid">
              Model is required.
            </div>
          </div>
          <div class="form-group">
              <label for="colour">Colour</label>
              <input 
                required 
                ngModel 
                name="colour" 
                #colour="ngModel" 
                id="colour" 
                type="text" 
                class="form-control">
              <div 
                class="alert alert-danger" 
                *ngIf="colour.touched && !colour.valid">
                Colour is required.
              </div>
            </div>
            <div class="form-group">
                <label for="productionDate">Production date</label>
                <input 
                  required 
                  ngModel 
                  name="productionDate" 
                  #productionDate="ngModel" 
                  id="productionDate" 
                  type="date" 
                  class="form-control">
                <div 
                  class="alert alert-danger" 
                  *ngIf="productionDate.touched && !productionDate.valid">
                  ProductionDate is required.
                </div>
              </div>
              <div class="form-group">
                  <label for="retirementDate">Retirement date</label>
                  <input 
                    required 
                    ngModel 
                    name="retirementDate" 
                    #retirementDate="ngModel" 
                    id="retirementDate" 
                    type="date" 
                    class="form-control">
                  <div 
                    class="alert alert-danger" 
                    *ngIf="retirementDate.touched && (!retirementDate.valid || productionDate?.value > retirementDate?.value)">
                    <div *ngIf="productionDate?.value > retirementDate?.value">
                      Retirement Date is before Production Date.
                    </div>
                    <div *ngIf="retirementDate.errors.required">
                      Retirement Date is required.
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="mileage">Mileage</label>
                  <input 
                      required 
                      ngModel 
                      name="mileage" 
                      #mileage="ngModel" 
                      id="mileage" 
                      type="text" 
                      class="form-control">
                    <div 
                      class="alert alert-danger" 
                      *ngIf="mileage.touched && !mileage.valid">
                      Mileage is required.
                   </div>
                </div>
                <div class="form-group">
                    <label for="servicePeriodStartDate">ServicePeriodStartDate</label>
                      <input 
                          required 
                          ngModel 
                          name="servicePeriodStartDate" 
                          #servicePeriodStartDate="ngModel" 
                          id="servicePeriodStartDate" 
                          type="date" 
                          class="form-control">
                        <div 
                          class="alert alert-danger" 
                          *ngIf="servicePeriodStartDate.touched && !servicePeriodStartDate.valid">
                          ServicePeriodStartDate is required.
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="servicePeriodFinishDate">ServicePeriodFinishDate</label>
                          <input 
                              required 
                              ngModel 
                              name="servicePeriodFinishDate" 
                              #servicePeriodFinishDate="ngModel" 
                              id="servicePeriodFinishDate" 
                              type="date" 
                              class="form-control">
                            <div 
                              class="alert alert-danger" 
                              *ngIf="servicePeriodFinishDate.touched && (!servicePeriodFinishDate.valid 
                                || servicePeriodStartDate?.value > servicePeriodFinishDate?.value)">
                              <div *ngIf="servicePeriodStartDate?.value > servicePeriodFinishDate?.value">
                                Retirement Date is before Production Date.
                              </div>
                              <div *ngIf="servicePeriodFinishDate.errors.required">
                                Retirement Date is required.
                              </div>
                            </div>
                    </div>
        <input 
          type="submit" 
          class="btn btn-primary" 
          value="Add" 
          [disabled]="!form.valid || (productionDate?.value > retirementDate?.value) 
            || (servicePeriodStartDate?.value > servicePeriodFinishDate?.value)">
      </form>
    </div>
  </ng-template>

<h2>Our Cars</h2>

<input 
  #query
  (keyup)="filter(query.value)"
  type="text" class="form-control" placeholder="Search...">

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
  [substituteRows]="false"
>
  <data-table-column
    [property]="'id'"
    [header]="'Car Id'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'mark'"
    [header]="'Mark'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'model'"
    [header]="'Model'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'colour'"
    [header]="'Colour'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'id'"
  >
    <ng-template #dataTableCell let-item="item">
        <button [routerLink]="['/car/', item.id]">Edit</button>
        <button (click)="delete(item)">Delete</button>
    </ng-template>
  </data-table-column>
</data-table>